pyttsx3==2.90
pandas==1.0.5
streamlit==0.71.0
tweepy==3.9.0
numpy==1.18.5
joblib==0.16.0
covid_daily==1.1
googletrans==3.0.0
nltk==3.5
altair==4.1.0
textblob==0.15.3
statsmodels==0.11.1
tensorflow==1.14.0
